<!DOCTYPE html>
<html>
<head>
	<title>geek</title>
</head>
<body>

	<form action="/result" method="POST">
		<span class="text-center">Heart Disease Predictor</span>
	<div class="input-container">
		<input type="number" required=""/>
		<label>Age</label>		
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Gender (0/1)</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Cp(0/1/2/3)</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Trestbps eg.(140)</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Cholestrol</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Fbs(1/0)</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Rest ECG(1/0)</label>
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Thalach eg.(153)</label>
	
	</div>

	<div class="input-container">		
		<input type="number" required=""/>
		<label>Exang(1/0)</label>
	</div>
	
	<div class="input-container">		
		<input type="number" required=""/>
		<label>oldpeak eg.(1.8)</label>
	</div>
	
	<div class="input-container">		
		<input type="number" required=""/>
		<label>Slope(0/1/2)</label>
	</div>
	
	<div class="input-container">		
		<input type="number" required=""/>
		<label>Ca(0/1/2/3)</label>
	</div>
	
	<div class="input-container">		
		<input type="number" required=""/>
		<label>Thal(0/1/2/3)</label>
	</div>

    <button type="Submit" value="Submit" class="btn">predict</button>
</form>


</body>
</html>
