<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  
<link rel="stylesheet" href="{{ url_for('static', filename='sdpexpo.css') }}">
  
</head>

<body>
 <div class="login">
	

     <!-- Main Input For Receiving Query to our ML -->
   <div class="login">
  <h1>Heart Disease Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Age" placeholder="Age" required="required" />
      <input type="text" name="Gender" placeholder="Gender" required="required" />
      <input type="text" name="cholestrol" placeholder="cholestrol" required="required" />


        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


  

       

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
